.properties {
  padding: 0 13px;
  width: 100%;
  box-sizing: border-box;
}

.properties__title {
  font-size: 2.1rem;
  margin-bottom: 5px;
}

.properties__ul {
  list-style: none;
  display: inline-flex;
  flex-wrap: wrap;
  gap: 30px 20px;
  justify-content: center;
  width: 100%;
}

.properties__li {
  display: flex;
  width: min(400px, 100%);
  flex-grow: 1;
}
