.filter {
  margin-top: 20px;
}

.filter__form {
  width: min(85%, 400px);
  box-sizing: border-box;
  margin: 0 auto;
  display: flex;
  border-radius: 16px;
  box-shadow: 0 1px 6px #0000001a;
  overflow: hidden;
}

.filter__city,
.filter__guests,
.filter__search-button {
  font-size: 1.4rem;
}

.filter__city,
.filter__search-button {
  min-width: max-content;
  position: relative;
}

.filter__guests,
.filter__search-button {
  background-color: inherit;
  border: none;
  outline: none;
}

.filter__city {
  padding: 16px;
}

.filter__guests {
  padding: 16px min(16px, 5%);
  min-width: 10px;
  text-overflow: ellipsis;
  overflow: hidden;
  white-space: nowrap;
  flex-shrink: 1;
  width: 100%;
}

.filter__guests__placeholder {
  color: #bdbdbd;
}

.filter__search-button {
  color: #eb5757e6;
  padding: 14px 16px;
  width: max-content;
}

.filter__search-button::before,
.filter__city::after {
  content: "";
  display: block;
  height: 100%;
  position: absolute;
  top: 0;
  border: 1px solid #f2f2f2;
}

.filter__search-button::before {
  left: 0;
}

.filter__city::after {
  right: 0;
}
